<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    
    
    <a class="navbar-brand" href="/">
       <img src="/img/logo.png" width="383" height="86" alt=""></a>
    </a>
    
 
<!--     <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
            <a class="nav-link" href="/">Home</a>
        </li>
    </ul>
 -->
 
    <ul class="navbar-nav ml-auto">


        
        <% categories.forEach(category => { %>

            <li class="navbar-item">
                <a class="nav-link" href="/category/<%=category.slug%>"><%=category.title%></a>
             </li>
            

        <%  }) %>

        <li class="navbar-item">
           <a class="nav-link" href="/login">Login</a>
        </li>
   </ul>
</nav>